.AppLink {
    margin-right: 15px;
    margin-right: 15px;
}

.AppLink:link, .AppLink:visited {
    text-decoration: none;
}

.primary {
    color: var(--link-color);
}

.red {
    color: red;
}

.purple {
    color: purple;
}