//winter is coming(light, no italic)
.app.light {
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F3F3F3;
    --primary-color: #2F86D2;
    --icon-color: #2970CA;
    --link-color: #A44185;
}