.Navbar {
    background-color: var(--secondary-bg-color);
    display: flex;
    height: var(--navbar-height);
    width: 100%;
}

.links {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    width: 100%;
}

.indent {
    margin-right: 20px;
}