.Navbar {
    align-items: center;
    background-color: var(--secondary-bg-color);
    display: flex;
    height: var(--navbar-height);
    justify-content: center;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}