.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--secondary-bg-color);
}

.links {
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
}